body{
    color: rgb(10, 0, 145);
    font-family: "GoogleSans", sans-serif;
    font-weight: 10;
    font-style: bold;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    background-image: linear-gradient(rgb(254, 223, 223), rgb(141, 255, 246));
    display: flex;
    flex-direction: column;
    align-items: center;    /* Centers block elements horizontally (logo, list) */
    text-align: center;
}
.navbar{
    list-style: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 12px;
    justify-content: center;
    text-decoration: none;
    color: rgb(10, 0, 145);
    padding: 10px 20px;
    border-radius: 14px;
    display: inline-flex;
    align-items: center;
}
.Welcome{
    font-family: "GoogleSans", sans-serif;
    font-size: 15px;
    text-align: center;
}
button{
    font-size: 15px;
    font-family: "GoogleSans", sans-serif;
    background-color: white;
    padding: 10px 10px;
    border-radius:10px;
    color: black;
    cursor: pointer;
}
button:hover{
    border: solid 2.5px black;
    background-color: rgb(10, 0, 145);
    color: white;
    cursor: pointer;
}