body{
    color: rgb(10, 0, 145);
    font-family: "Lato", sans-serif;
    font-weight: 10;
    font-style: bold;
    font-size: 20px;
    text-align: center;
    display: inline-block;
    padding: 10px;
    width: max-content;
    margin: 0 auto;
    background-image: linear-gradient(rgb(254, 223, 223), rgb(141, 255, 246));
}
.navbar {
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
li {
    list-style-type: disc;
}
.Welcome{
    background-image: url('Background.png');
    background-image: linear-gradient(to bottom, rgb(254, 223, 223), rgb(141, 255, 246));
    font-family: "Lato", sans-serif;
    font-size: 20px;
    text-align: center;
}
button:hover{
    border: solid 2.5px black;
    background-color: rgb(10, 0, 145);
    color: white;
}